* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}

@font-face {
    font-family: Fredoka;
    src: url(Fredoka.ttf);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0 20px;
}

#controls {
    display: flex;
    justify-content: center;
}

button,
input {
    padding: 4px 8px;
    text-align: center;
    margin: 0 2px;
}

#functions {
    margin: 10px 0;
}

#gridOfNumbers {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(19, 1fr);
    /*margin: 10px 0 10px 10px;*/
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.number {
    background-color: gainsboro;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45px;
    max-height: 45px;
    border-radius: 10px;
}