* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0 20px;
}

#controls {
    display: flex;
    justify-content: center;
}

button,
input {
    padding: 4px 8px;
    text-align: center;
    margin: 0 2px;
}

#functions {
    margin: 10px 0;
}

#gridOfNumbers {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.number {
    background-color: gainsboro;
    display: inline;
    padding: 3px;
    margin: 4px;
    display: inline;
}