* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}

@font-face {
    font-family: Fredoka;
    src: url(Fredoka.ttf);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 12px 0;
}

#controls {
    display: grid;
    justify-content: center;
    text-align: center;
}

button,
input {
    padding: 4px 8px;
    text-align: center;
    margin: 0 5px;
}

.label {
    margin: 2px 0;
}

.textArea {
    border: ridge 2px;
    padding: 2px 5px;
    min-width: 7em;
    /* min-height: 5em; */
    overflow: auto;
    margin: 0 6px;
}

#functions {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

main {
    margin: 0 10px;
}

#gridOfNumbers {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 60px));
    margin-top: 20px;
}

.number {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 19px;
}